
.buttonContainer{
    align-items: center;
    background-color: #009189;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    padding: 5px;
    height: 30px;
    width: 180px;

    &__text{
        color: white;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
}